name: Deploy on Heroku

on:
  push:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.4.6
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "coffaine"
          heroku_email: "${{secrets.HEROKU_EMAIL}}"
          buildpack: https://github.com/mars/create-react-app-buildpack.git
